In [3]:
import sys, os
import numpy as np
import pandas as pd
repo_root = os.path.abspath(os.path.join(os.getcwd(), ".."))
if repo_root not in sys.path:
    sys.path.insert(0, repo_root)
print("Added to sys.path:", repo_root)
from fixedincomelib import *
print("Fixed Income Library is loaded.")

Added to sys.path: c:\Users\Wanling Xie\FixedIncomeLib
Fixed Income Library is loaded.

## Test Data 1D

In [4]:
df = pd.DataFrame(index=['3M', '6M', '9M', '1Y'])
df['values'] = [.03] * len(df)
data_type = 'Overnight Index Future'
data_conv = 'SOFR-FUTURE-3M'
data1D = qfCreateData1D(data_type, data_conv, df)
display(data1D.display())
# serialize
path = 'data1d.pickle'
qfWriteDataObjectToFile(data1D, path)
# deserialize
data1D_back = qfReadDataObjectFromFile(path)
# check
display(data1D_back.display())
# house keeping
os.remove(path)

  axis1  values
0    3M    0.03
1    6M    0.03
2    9M    0.03
3    1Y    0.03

  axis1  values
0    3M    0.03
1    6M    0.03
2    9M    0.03
3    1Y    0.03

In [4]:
df = pd.DataFrame(index=['3M', '6M', '9M', '1Y'])
df['values'] = [.03] * len(df)
data_type = 'Instantaneous Forward Rate'
data_conv = 'USD-SOFR-IFR'
data1D_ifr = qfCreateData1D(data_type, data_conv, df)
display(data1D_ifr.display())
# serialize
path = 'data1d.pickle'
qfWriteDataObjectToFile(data1D_ifr, path)
# deserialize
data1D_ifr_back = qfReadDataObjectFromFile(path)
# check
display(data1D_ifr_back.display())
# house keeping
os.remove(path)

  axis1  values
0    3M    0.03
1    6M    0.03
2    9M    0.03
3    1Y    0.03

  axis1  values
0    3M    0.03
1    6M    0.03
2    9M    0.03
3    1Y    0.03

## Test Data 2D

In [5]:
df = pd.DataFrame(
    np.random.rand(4, 3),
    index=['3M', '6M', '9M', '1Y'], 
    columns=['1Y', '5Y', '10Y'])
data_type = 'Swaption Normal Volatility'
data_conv = 'USD-SOFR-SWAPTION'
data2D = qfCreateData2D(data_type, data_conv, df)
display(data2D.display())
# serialize
path = 'data2d.pickle'
qfWriteDataObjectToFile(data2D, path)
# deserialize
data2D_back = qfReadDataObjectFromFile(path)
# check
display(data2D_back.display())
# house keeping
os.remove(path)

          1Y        5Y       10Y
3M  0.775126  0.278560  0.025858
6M  0.756331  0.953620  0.676766
9M  0.857790  0.201990  0.548082
1Y  0.983597  0.863956  0.291337

          1Y        5Y       10Y
3M  0.775126  0.278560  0.025858
6M  0.756331  0.953620  0.676766
9M  0.857790  0.201990  0.548082
1Y  0.983597  0.863956  0.291337

## Data Table

In [6]:
df = pd.DataFrame(
    [['2025-01-01', '2025-03-01', 0]]
    , columns=['axis1', 'axis2', 'values'])
data_type = 'JUMP'
data_conv = 'USD-SOFR-JUMP'
data_table = qfCreateDataTable(data_type, data_conv, df)
display(data_table.display())
# serialize
path = 'data_table.pickle'
qfWriteDataObjectToFile(data_table, path)
# deserialize
data_table_back = qfReadDataObjectFromFile(path)
# check
display(data_table_back.display())
# house keeping
os.remove(path)

        axis1       axis2  values
0  2025-01-01  2025-03-01       0

        axis1       axis2  values
0  2025-01-01  2025-03-01       0

## Test Data Collection

In [ ]:
### create a data collection
data_list = [data1D, data2D]
data_collection = qfCreateDataCollection(data_list)
display(data_collection.display())

  Data Shape                   Data Type    Data Convention
0     DATA1D      Overnight Index Future     SOFR-FUTURE-3M
1     DATA2D  Swaption Normal Volatility  USD-SOFR-SWAPTION

In [ ]:
### serialization / de-serialization
# serialize
path = 'data_collection.pickle'
qfWriteDataObjectToFile(data_collection, path)
# deserialize
data_collection_back = qfReadDataCollectionFromFile(path)
# check
display(data_collection_back.display())
# house keeping
os.remove(path)

  Data Shape                   Data Type    Data Convention
0     DATA1D      Overnight Index Future     SOFR-FUTURE-3M
1     DATA2D  Swaption Normal Volatility  USD-SOFR-SWAPTION

In [ ]:
### get data from data collection
data_type = 'Overnight Index Future'
data_conv = 'SOFR-FUTURE-3M'
data = data_collection.get_data_from_data_collection(data_type, data_conv)
data.display()

  axis1  values
0    3M    0.03
1    6M    0.03
2    9M    0.03
3    1Y    0.03