In [1]:
import sys, os
repo_root = os.path.abspath(os.path.join(os.getcwd(), ".."))
if repo_root not in sys.path:
    sys.path.insert(0, repo_root)
print("Added to sys.path:", repo_root)
from fixedincomelib import *
print("Fixed Income Library is loaded.")

Added to sys.path: /Users/lunli/Documents/FixedIncomeLib
Fixed Income Library is loaded.

### Test European Option Analytics

In [17]:
### log normal vol
forward = 0.04
strike = 0.042
ln_sigma = 0.20
tte = 0.5
call_or_put = 'put'
res_ln_pricing = qfEuropeanOptionLogNormal(forward, strike, tte, ln_sigma, call_or_put, True)
res_ln_pricing

          Name      Value
0           pv   0.003447
1        delta  -0.608068
2        gamma  67.920090
3         vega   0.010867
4        theta  -0.002173
5  strike_risk   0.661189

In [29]:
# ### b&r test
# epsilon = 1e-6
# base_pv = res_ln_pricing.values[0][1]
# bumped_pv = qfEuropeanOptionLogNormal(forward, strike, tte, ln_sigma, call_or_put)
# (bumped_pv.values[0][1] - base_pv) / epsilon

0.0

In [30]:
### implied lognormal vol
forward = 0.04
strike = 0.042
pv = res_ln_pricing.values[0][1]
tte = 0.5
res_ln_iv = qfEuropeanOptionImpliedLogNormalVol(pv, forward, strike, tte, call_or_put, True)
res_ln_iv

                    Name      Value
0  implied_lognormal_vol   0.200000
1     d_ln_vol_d_forward  55.954341
2         d_ln_vol_d_tte   0.200000
3      d_ln_vol_d_strike -60.842477

In [36]:
# ### b&r test
# epsilon = 1e-6
# base_vol = res_ln_iv.values[0][1]
# bumped_vol = qfEuropeanOptionImpliedLogNormalVol(pv, forward, strike, tte, call_or_put)
# (bumped_vol.values[0][1] - base_vol) / epsilon

In [37]:
### normal vol from lognormal vol
forward = 0.04
strike = 0.042
ln_vol = res_ln_iv.values[0][1]
tte = 0.5
res_n_iv = qfEuropeanOptionNormalVolFromLogNormalVol(forward, strike, tte, ln_vol, True)
res_n_iv

                 Name     Value
0  implied_normal_vol  0.008192
1    d_n_vol_d_ln_vol  0.040890
2   d_n_vol_d_forward  0.101562
3    d_n_vol_d_strike  0.098312
4       d_n_vol_d_tte  0.000014

In [40]:
# ### b&r test
# epsilon = 1e-6
# base_vol = res_n_iv.values[0][1]
# bumped_vol = qfEuropeanOptionNormalVolFromLogNormalVol(forward + epsilon, strike, tte, ln_vol)
# (bumped_vol.values[0][1] - base_vol) / epsilon

In [41]:
### normal vol
forward = 0.04
strike = 0.042
n_sigma = res_n_iv.values[0][1]
tte = 0.5
res_nv_pricing = qfEuropeanOptionNormal(forward, strike, tte, n_sigma, call_or_put, True)
res_nv_pricing

          Name      Value
0           pv   0.003447
1        delta  -0.635060
2        gamma  64.888764
3         vega   0.265770
4        theta  -0.002177
5  strike_risk   0.635060

In [47]:
# ### b&r test
# epsilon = 1e-6
# base_pv = res_nv_pricing.values[0][1]
# bumped_pv = qfEuropeanOptionNormal(forward, strike, tte, n_sigma, call_or_put, True)
# (bumped_pv.values[0][1] - base_pv) / epsilon

In [48]:
### implied normal vol
forward = 0.04
strike = 0.042
pv = res_nv_pricing.values[0][1]
tte = 0.5
res_nv_imp = qfEuropeanOptionImpliedNormalVol(pv, forward, strike, tte, call_or_put, True)
res_nv_imp

                 Name     Value
0  implied_normal_vol  0.008192
1   d_n_vol_d_forward  2.389506
2       d_n_vol_d_tte  0.008192
3    d_n_vol_d_strike -2.389506

In [54]:
### b&r test
epsilon = 1e-6
base_nv_vol = res_nv_imp.values[0][1]
bumped_n_vol = qfEuropeanOptionImpliedNormalVol(pv, forward, strike, tte, call_or_put, False)
(bumped_n_vol.values[0][1] - base_nv_vol) / epsilon

0.0

In [55]:
### lognormal vol from normal vol
forward = 0.04
strike = 0.042
n_vol = res_nv_imp.values[0][1]
tte = 0.5
res_ln_iv_round_trip = qfEuropeanOptionLogNormalVolFromNormalVol(forward, strike, tte, n_vol, True)
res_ln_iv_round_trip

                    Name      Value
0  implied_lognormal_vol   0.200001
1       d_ln_vol_d_n_vol  24.456145
2     d_ln_vol_d_forward  -2.483816
3      d_ln_vol_d_strike  -2.404331
4         d_ln_vol_d_tte  -0.000334

In [56]:
# ### b&r test
# epsilon = 1e-6
# base_ln_vol = res_ln_iv_round_trip.values[0][1]
# bumped_ln_vol = qfEuropeanOptionLogNormalVolFromNormalVol(forward, strike + epsilon, tte, n_vol)
# (bumped_ln_vol.values[0][1] - base_ln_vol) / epsilon

-2.404292921864837