In [4]:
import sys, os
repo_root = os.path.abspath(os.path.join(os.getcwd(), ".."))
if repo_root not in sys.path:
    sys.path.insert(0, repo_root)
print("Added to sys.path:", repo_root)
from fixedincomelib import *
print("Fixed Income Library is loaded.")

Added to sys.path: /Users/lunli/Documents/FixedIncomeLib
Fixed Income Library is loaded.

## Product Bullet Cashflow

In [5]:
# parametric product
termination_date = '2026-05-26'
currency = 'USD'
notional = 1e6
long_or_short = 'LONG'
payment_date = qfAddPeriod(termination_date, '2D', 'F', 'USGS')
prod_bullet_cashflow_1 = qfCreateProductBulletCashflow(
    termination_date,
    currency,
    notional,
    long_or_short
)
prod_bullet_cashflow_2 = qfCreateProductBulletCashflow(
    termination_date,
    currency,
    notional,
    long_or_short,
    payment_date
)

In [6]:
# displayer
display(qfDisplayProduct(prod_bullet_cashflow_1))
display(qfDisplayProduct(prod_bullet_cashflow_2))

               Name                    Value
0      Product Type  PRODUCT_BULLET_CASHFLOW
1          Notional                1000000.0
2          Currency                      USD
3     Long Or Short                     LONG
4  Termination Date               2026-05-26
5      Payment Date               2026-05-26

               Name                    Value
0      Product Type  PRODUCT_BULLET_CASHFLOW
1          Notional                1000000.0
2          Currency                      USD
3     Long Or Short                     LONG
4  Termination Date               2026-05-26
5      Payment Date               2026-05-28

In [7]:
# serialization
# serialize
path = 'product_bullet_cashflow.pickle'
qfWriteProductToFile(prod_bullet_cashflow_1, path)
# deserialize
prod_bullet_cashflow_1_back = qfReadProductFromFile(path)
# check
display(qfDisplayProduct(prod_bullet_cashflow_1_back))
# house keeping
os.remove(path)

               Name                    Value
0      Product Type  PRODUCT_BULLET_CASHFLOW
1          Notional                1000000.0
2          Currency                      USD
3     Long Or Short                     LONG
4  Termination Date               2026-05-26
5      Payment Date               2026-05-26

## Product Fixed Accrued

In [8]:
# parametric product
effecitve_date = '2026-03-26'
termination_date = '2026-05-26'
currency = 'USD'
notional = 1e6
accrual_basis = 'ACT/360'
business_day_convention = 'F'
holiday_convention = 'USGS'
pay_offset = '2D'
payment_date = qfAddPeriod(termination_date, pay_offset, business_day_convention, holiday_convention)
prod_fixed_accrued_1 = qfCreateProducFixedAccrued(
    effecitve_date,
    termination_date,
    currency,
    notional,
    accrual_basis
)
prod_fixed_accrued_2 = qfCreateProducFixedAccrued(
    effecitve_date,
    termination_date,
    currency,
    notional,
    accrual_basis,
    payment_date,
    business_day_convention, 
    holiday_convention
)

In [9]:
# displayer
display(qfDisplayProduct(prod_fixed_accrued_1))
display(qfDisplayProduct(prod_fixed_accrued_2))

                      Name                  Value
0             Product Type  PRODUCT_FIXED_ACCRUED
1                 Notional              1000000.0
2                 Currency                    USD
3            Long Or Short                   LONG
4           Effective Date             2026-03-26
5         Termination Date             2026-05-26
6            Accrual Basis                ACT/360
7             Payment Date             2026-05-26
8  Business Day Convention                      F
9       Holiday Convention                   USGS

                      Name                  Value
0             Product Type  PRODUCT_FIXED_ACCRUED
1                 Notional              1000000.0
2                 Currency                    USD
3            Long Or Short                   LONG
4           Effective Date             2026-03-26
5         Termination Date             2026-05-26
6            Accrual Basis                ACT/360
7             Payment Date             2026-05-28
8  Business Day Convention                      F
9       Holiday Convention                   USGS

In [10]:
# serialization
# serialize
path = 'product_fixed_accrued.pickle'
qfWriteProductToFile(prod_fixed_accrued_2, path)
# deserialize
prod_fixed_accrued_2_back = qfReadProductFromFile(path)
# check
display(qfDisplayProduct(prod_fixed_accrued_2_back))
# house keeping
os.remove(path)

                      Name                  Value
0             Product Type  PRODUCT_FIXED_ACCRUED
1                 Notional              1000000.0
2                 Currency                    USD
3            Long Or Short                   LONG
4           Effective Date             2026-03-26
5         Termination Date             2026-05-26
6            Accrual Basis                ACT/360
7             Payment Date             2026-05-28
8  Business Day Convention                      F
9       Holiday Convention                   USGS

## Product Overnight Index Cashflowa

In [11]:
# parametric product
effecitve_date = '2026-03-26'
termination_date = '2027-03-26'
term = '1Y'
overnight_index = 'SOFR-1B'
notional = 1e6
compounding_method = 'compound'
spread = 0.005
business_day_convention = 'F'
holiday_convention = 'USGS'
pay_offset = '2D'
payment_date = qfAddPeriod(termination_date, pay_offset, business_day_convention, holiday_convention)
product_on_cashflow_1 = qfCreateProductOvernightIndexCashflow(
    effecitve_date,
    termination_date,
    overnight_index,
    notional)
product_on_cashflow_2 = qfCreateProductOvernightIndexCashflow(
    effecitve_date,
    term,
    overnight_index,
    notional,
    compounding_method,
    spread,
    payment_date)

In [12]:
# displayer
display(qfDisplayProduct(product_on_cashflow_1))
display(qfDisplayProduct(product_on_cashflow_2))

                 Name                             Value
0        Product Type  PRODUCT_OVERNIGHT_INDEX_CASHFLOW
1            Notional                         1000000.0
2            Currency                               USD
3       Long Or Short                              LONG
4      Effective Date                        2026-03-26
5    Termination Date                        2027-03-26
6            ON Index                 SOFRON Actual/360
7  Compounding Method                          COMPOUND
8              Spread                               0.0
9        Payment Date                        2027-03-26

                 Name                             Value
0        Product Type  PRODUCT_OVERNIGHT_INDEX_CASHFLOW
1            Notional                         1000000.0
2            Currency                               USD
3       Long Or Short                              LONG
4      Effective Date                        2026-03-26
5    Termination Date                        2027-03-29
6            ON Index                 SOFRON Actual/360
7  Compounding Method                          COMPOUND
8              Spread                             0.005
9        Payment Date                        2027-03-30

In [13]:
# serialization
# serialize
path = 'product_on_cashflow.pickle'
qfWriteProductToFile(product_on_cashflow_2, path)
# deserialize
product_on_cashflow_2_back = qfReadProductFromFile(path)
# check
display(qfDisplayProduct(product_on_cashflow_2_back))
# house keeping
os.remove(path)

                 Name                             Value
0        Product Type  PRODUCT_OVERNIGHT_INDEX_CASHFLOW
1            Notional                         1000000.0
2            Currency                               USD
3       Long Or Short                              LONG
4      Effective Date                        2026-03-26
5    Termination Date                        2027-03-29
6            ON Index                 SOFRON Actual/360
7  Compounding Method                          COMPOUND
8              Spread                             0.005
9        Payment Date                        2027-03-30

## Product RFR Future

In [14]:
# parametric product
effecitve_date = '2026-03-26'
termination_date = '2026-06-26'
term = '3M'
future_convention = 'SOFR-FUTURE-3M'
amount = 1e4
strike = 0.
product_on_rfr_future_1 = qfCreateProductRFRFuture(
    effecitve_date,
    termination_date,
    future_convention,
    long_or_short,
    amount,
    strike)
product_on_rfr_future_2 = qfCreateProductRFRFuture(
    effecitve_date,
    termination_date,
    future_convention,
    long_or_short,
    amount,
    strike)

In [15]:
# displayer
display(qfDisplayProduct(product_on_rfr_future_1))
display(qfDisplayProduct(product_on_rfr_future_2))

                Name               Value
0       Product Type  PRODUCT_RFR_FUTURE
1           Notional        2500000000.0
2           Currency                 USD
3      Long Or Short                LONG
4     Effective Date          2026-03-26
5   Termination Date          2026-06-26
6  Future Convention      SOFR-FUTURE-3M
7             Amount             10000.0
8             Strike                 0.0

                Name               Value
0       Product Type  PRODUCT_RFR_FUTURE
1           Notional        2500000000.0
2           Currency                 USD
3      Long Or Short                LONG
4     Effective Date          2026-03-26
5   Termination Date          2026-06-26
6  Future Convention      SOFR-FUTURE-3M
7             Amount             10000.0
8             Strike                 0.0

In [16]:
# serialization
# serialize
path = 'product_rfr_future.pickle'
qfWriteProductToFile(product_on_rfr_future_2, path)
# deserialize
product_on_rfr_future_2_back = qfReadProductFromFile(path)
# check
display(qfDisplayProduct(product_on_rfr_future_2_back))
# house keeping
os.remove(path)

                Name               Value
0       Product Type  PRODUCT_RFR_FUTURE
1           Notional        2500000000.0
2           Currency                 USD
3      Long Or Short                LONG
4     Effective Date          2026-03-26
5   Termination Date          2026-06-26
6  Future Convention      SOFR-FUTURE-3M
7             Amount             10000.0
8             Strike                 0.0

In [17]:
# product factory
value_date = '2025-09-25'
data_convention = 'SOFR-FUTURE-3M'
axis1 = '2025-09-25x2025-12-25'
values = 0.
prod_rfr_from_convention = qfCreateProductFromDataConvention(
    value_date,
    data_convention,
    axis1,
    values)
qfDisplayProduct(prod_rfr_from_convention)

                Name               Value
0       Product Type  PRODUCT_RFR_FUTURE
1           Notional      250000000000.0
2           Currency                 USD
3      Long Or Short                LONG
4     Effective Date          2025-09-25
5   Termination Date          2025-12-25
6  Future Convention      SOFR-FUTURE-3M
7             Amount           1000000.0
8             Strike                 0.0

## Product RFR Swap

In [18]:
effective_date = '2025-05-25'
termination_date = '2027-05-25'
term = '2Y'
pay_offset = '2D'
on_index = 'SOFR-1B'
fixed_rate = 0.04
pay_or_rec = 'pay'
notional = 1e6
accrual_peroid = '1Y'
accrual_basis = 'ACT/360'
floating_leg_accrual_period = '1Y'
business_day_convention = 'F'
holiday_convention = 'USGS'
spread = 0.005
compounding_method = 'compound'
product_on_rfr_swap_1 = qfCreateProductRFRSwap(
    effective_date,
    termination_date,
    pay_offset,
    on_index,
    fixed_rate,
    pay_or_rec,
    notional,
    accrual_peroid,
    accrual_basis)
product_on_rfr_swap_2 = qfCreateProductRFRSwap(
    effective_date,
    term,
    pay_offset,
    on_index,
    fixed_rate,
    pay_or_rec,
    notional,
    accrual_peroid,
    accrual_basis,
    floating_leg_accrual_period,
    business_day_convention,
    holiday_convention,
    spread,
    compounding_method)

In [19]:
# displayer
display(qfDisplayProduct(product_on_rfr_swap_1))
display(qfDisplayProduct(product_on_rfr_swap_2))

                           Name              Value
0                  Product Type   PRODUCT_RFR_SWAP
1                      Notional          1000000.0
2                      Currency                USD
3                 Long Or Short               LONG
4                Effective Date         2025-05-25
5              Termination Date         2027-05-25
6                Payment Offset                 2D
7                      ON Index  SOFRON Actual/360
8                    Fixed Rate               0.04
9                Pay Or Receive                PAY
10               Accrual Period                 1Y
11                Accrual Basis            ACT/360
12  Floating Leg Accrual Period                 1Y
13      Business Day Convention                  F
14           Holiday Convention               USGS

                           Name              Value
0                  Product Type   PRODUCT_RFR_SWAP
1                      Notional          1000000.0
2                      Currency                USD
3                 Long Or Short               LONG
4                Effective Date         2025-05-25
5              Termination Date         2027-05-25
6                Payment Offset                 2D
7                      ON Index  SOFRON Actual/360
8                    Fixed Rate               0.04
9                Pay Or Receive                PAY
10               Accrual Period                 1Y
11                Accrual Basis            ACT/360
12  Floating Leg Accrual Period                 1Y
13      Business Day Convention                  F
14           Holiday Convention               USGS

In [20]:
# examine important member funcions
idx = 0
display(qfDisplayProduct(product_on_rfr_swap_1.floating_leg_cash_flow(idx)))
display(qfDisplayProduct(product_on_rfr_swap_1.fixed_leg_cash_flow(idx)))

                 Name                             Value
0        Product Type  PRODUCT_OVERNIGHT_INDEX_CASHFLOW
1            Notional                        -1000000.0
2            Currency                               USD
3       Long Or Short                             SHORT
4      Effective Date                        2025-05-25
5    Termination Date                        2026-05-25
6            ON Index                 SOFRON Actual/360
7  Compounding Method                          COMPOUND
8              Spread                               0.0
9        Payment Date                        2026-05-27

                      Name                  Value
0             Product Type  PRODUCT_FIXED_ACCRUED
1                 Notional              1000000.0
2                 Currency                    USD
3            Long Or Short                   LONG
4           Effective Date             2025-05-27
5         Termination Date             2026-05-26
6            Accrual Basis                ACT/360
7             Payment Date             2026-05-28
8  Business Day Convention                      F
9       Holiday Convention                   USGS

In [21]:
# serialization
# serialize
path = 'product_rfr_swap.pickle'
qfWriteProductToFile(product_on_rfr_swap_1, path)
# deserialize
product_on_rfr_swap_1_back = qfReadProductFromFile(path)
# check
display(qfDisplayProduct(product_on_rfr_swap_1_back))
# house keeping
os.remove(path)

                           Name              Value
0                  Product Type   PRODUCT_RFR_SWAP
1                      Notional          1000000.0
2                      Currency                USD
3                 Long Or Short               LONG
4                Effective Date         2025-05-25
5              Termination Date         2027-05-25
6                Payment Offset                 2D
7                      ON Index  SOFRON Actual/360
8                    Fixed Rate               0.04
9                Pay Or Receive                PAY
10               Accrual Period                 1Y
11                Accrual Basis            ACT/360
12  Floating Leg Accrual Period                 1Y
13      Business Day Convention                  F
14           Holiday Convention               USGS

In [22]:
# product factory
value_date = '2025-09-25'
data_convention = 'USD-SOFR-OIS'
axis1 = '5Y'
values = 0.
prod_rfr_swap_from_convention_1 = qfCreateProductFromDataConvention(
    value_date,
    data_convention,
    axis1,
    values)
display(qfDisplayProduct(prod_rfr_swap_from_convention_1))
axis1 = '2025-09-25x2030-09-25'
prod_rfr_swap_from_convention_2 = qfCreateProductFromDataConvention(
    value_date,
    data_convention,
    axis1,
    values)
display(qfDisplayProduct(prod_rfr_swap_from_convention_2))

                           Name              Value
0                  Product Type   PRODUCT_RFR_SWAP
1                      Notional          1000000.0
2                      Currency                USD
3                 Long Or Short               LONG
4                Effective Date         2025-09-25
5              Termination Date         2030-09-25
6                Payment Offset                 2D
7                      ON Index  SOFRON Actual/360
8                    Fixed Rate                0.0
9                Pay Or Receive            RECEIVE
10               Accrual Period                 1Y
11                Accrual Basis            ACT/360
12  Floating Leg Accrual Period                 1Y
13      Business Day Convention                  F
14           Holiday Convention               USGS

                           Name              Value
0                  Product Type   PRODUCT_RFR_SWAP
1                      Notional          1000000.0
2                      Currency                USD
3                 Long Or Short               LONG
4                Effective Date         2025-09-25
5              Termination Date         2030-09-25
6                Payment Offset                 2D
7                      ON Index  SOFRON Actual/360
8                    Fixed Rate                0.0
9                Pay Or Receive            RECEIVE
10               Accrual Period                 1Y
11                Accrual Basis            ACT/360
12  Floating Leg Accrual Period                 1Y
13      Business Day Convention                  F
14           Holiday Convention               USGS